*{font-family: 'Rubik', sans-serif;}
.displayWindow{
    display: none !important;
}
.blurWindow{
    filter: blur(10px);
}
#login{
    width: 40%;
	min-width: 50vh;
	min-height: 50%;
    height: 450px;
	padding: 2%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.disabled-h1{
	color:#B8B8B8;
	cursor: pointer;
}
.h1-popup{
	display: flex;
	justify-content: space-around;
	font-weight: 500;
	align-items: center;
}
.popup-cont{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: stretch;
}
.form-reg{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}
.form-auth{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.q-input-cont{
	align-items: stretch;
	display: flex;
	flex-direction: column;
}
.input-reg-cont{
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}
.reg-label{
	font-size: 22px;
	margin-left:3%;
}
.auth-label{
	font-size: 22px;
	margin-left:1%;
	margin-top: 4%;
}
.btn-reg-cont{
	margin-top: 6%;
	display: flex;
	justify-content: center;
}
.input-reg{
	width: 100%;
	height: 100%;
	border-radius: 3em;
	border:2px solid rgb(16, 56, 84);
	outline: none;
	font-size: 18px;
	padding-left: 5%;
}
.input-auth{
	width: 30%;
	height: 100%;
	border-radius: 3em;
	margin-top: 1%;
	border:2px solid rgb(16, 56, 84);
	outline: none;
	font-size: 18px;
	padding-left: 1%;
}
.reg-submit{
	width:300px;
	height: 2em;
	border-radius: 2em;
	font-size: 1.3em;
	background-color:  rgba(16, 56, 84, 0.8);
	color:#ffffff;
	border:0;
	outline: none;
	cursor: pointer;
}
.auth-btn{
	margin-top: 8%;
}
.disabled-form{
	display: none;
}
.close {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    }
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
    }
