*{font-family: 'Rubik', sans-serif;}
.displayWindow{
    display: none !important;
}
.blurWindow{
    filter: blur(10px);
}
#login{
    width: 40%;
	min-width: 50vh;
	min-height: 50%;
    height: 450px;
	padding: 2%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 1);
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	opacity: 0;
}
.disabled-h1{
	color:#B8B8B8;
	cursor: pointer;
}
.h1-popup{
	display: flex;
	justify-content: space-around;
	font-weight: 500;
	align-items: center;
}
.popup-cont{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: stretch;
}
.form-reg{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.form-auth{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.q-input-reg-cont{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.q-input-cont{
	align-items: stretch;
	display: flex;
	flex-direction: column;
	margin: 1%;
}
.input-reg-cont{
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}
.reg-label{
	font-size: 22px;
	margin-left:3%;
}
.auth-label{
	font-size: 22px;
	margin-left:1%;
	margin-top: 4%;
}
.btn-reg-cont{
	margin-top: 6%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.reg-h1-popup{
	font-weight: 500;
	color:rgb(16, 56, 84);
}
.auth-h1-popup{
	font-weight: 500;
	color:rgb(16, 56, 84);
}
.input-reg{
	border-radius: 3em;
	border:2px solid rgb(16, 56, 84);
	outline: none;
	font-size: 1.7vw;
	padding-left: 0.4em;
}
.input-auth{
	width: 40%;
	height: 100%;
	border-radius: 3em;
	margin-top: 1%;
	border:2px solid rgb(16, 56, 84);
	outline: none;
	font-size: 18px;
	padding-left: 1%;
}
.go-auth{
	display: block;
}
.go-auth-a, .go-reg-a{
	color:rgb(16, 56, 84);
	cursor: pointer;
}
.go-reg{
	display: none;
}
.reg-submit{
	width:320px;
	height: 2em;
	border-radius: 2em;
	font-size: 1.3em;
	background-color:  rgba(16, 56, 84, 0.8);
	color:#ffffff;
	border:0;
	outline: none;
	cursor: pointer;
}
.auth-btn{
	margin-top: 8%;
}
.disabled-form{
	display: none;
}
.close {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
    }
    .close:hover {
    opacity: 1;
    }
    .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    }
    .close:before {
    transform: rotate(45deg);
    }
    .close:after {
    transform: rotate(-45deg);
	}
.disabled{
	display: none !important;
}
.enable{
	display: block !important;
}
.mark{
	width: 25%;
	position: relative;
	top: 35%;
	text-align: center;
}
.confirmation-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.registration-confirmation-p{
  text-align: center;
  font-size: 1.5em;
}
  .confirmation-code-input{
    margin-top: 5%;
    width: 50%;
    height: 100%;
    font-size: 3em;
    border:2px solid rgb(16, 56, 84);
    border-radius: 1em;
    outline: none;
    color: rgb(16, 56, 84);
  }
  .mailCode{
	  text-align: center;
  }
  @keyframes blurPage {
	0% { opacity: 0; }
	100% { opacity: 1; }
   }